body {
	background-color: #fff1d5;
}

li {
	border: 8px solid white;
	border-radius: 5px;
}

.unorderedlist {
	list-style: none;
}

.carousel-item {
	display: none;
}

.carousel-item.current {
	display: inline-block;
}